@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: var(--light-grey);
  background: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1, h2, h3 {
  color: var(--white);
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 12px;
}

p {
  line-height: 1.6;
}

button {
  color: var(--light-grey);
  background-color: var(--dark-blue);
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  width:100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}



#hit1, #hit2, #hit3, #hit4, #hit5, #summup {}

.container {
  width: 100%;
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 32px;
}
@media only screen and (min-width:600px) {
    .container {width: 394px; margin: auto;}}
@media only screen and (min-width:900px) {
        .container {width: 394px; margin: auto;}}
@media only screen and (min-width:1440px) {
  .container {width: 30%; margin: auto;}}

.container img {
  margin-bottom: 16px;
}

.rating {}

.star {
  color: var(--orange);
  background: var(--dark-blue);
  border-radius: 24px;
  padding: 8px 18px;
  text-align: center;
}
img.star {
  border-radius: 100%;
  padding: 18px;
}

.set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 32px auto;
  container-type: inline-size;
}

.drum {
  border-radius: 100%;
  width: 54px;
  height: 54px;
  text-align: center;
}

@container (width < 300px) {
  .drum { width: 40px; height: 40px; }
}

.drum:hover {
  color: var(--white);
  background-color: var(--medium-grey);
}

.selected {
  color: var(--white);
  background-color: var(--orange);
}

.checked:hover{
  color: var(--white);
  background-color: var(--orange);
}

.btn {
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px;
}

.btn:hover {
  color: var(--orange);
  background-color: var(--white);
}


.thank-you {
  display: none;
  text-align: center;
}

.thank-you h1 {
  margin-top: 40px;
}


/*
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

*/

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
  --bg-color: linear-gradient( hsla(213, 19%, 18%, 0.7), hsla(213, 19%, 18%, 0.3));
}
